In [2]:
from dotenv import load_dotenv
import os
from src.paths import PARENT_DIR

load_dotenv(PARENT_DIR / ".env")

HOPSWORKS_API_KEY = os.environ["HOPSWORKS_API_KEY"]
HOPSWORKS_PROJECT_NAME = "NYC_taxi_demand_project"

In [3]:
from datetime import datetime
import pandas as pd
from src.data import load_raw_data

from_year = 2022
to_year = datetime.now().year
print(f'Downloading raw data from {from_year} to {to_year}')

rides = pd.DataFrame()
for year in range(from_year, to_year+1):
    
    # download data for the whole year
    rides_one_year = load_raw_data(year)
    
    # append rows
    rides = pd.concat([rides, rides_one_year])

Downloading raw data from 2022 to 2024
File 2022-01 was already in local storage
File 2022-02 was already in local storage
File 2022-03 was already in local storage
File 2022-04 was already in local storage
File 2022-05 was already in local storage
File 2022-06 was already in local storage
File 2022-07 was already in local storage
File 2022-08 was already in local storage
File 2022-09 was already in local storage
File 2022-10 was already in local storage
File 2022-11 was already in local storage
File 2022-12 was already in local storage
File 2023-01 was already in local storage
File 2023-02 was already in local storage
File 2023-03 was already in local storage
File 2023-04 was already in local storage
File 2023-05 was already in local storage
File 2023-06 was already in local storage
File 2023-07 was already in local storage
File 2023-08 was already in local storage
File 2023-09 was already in local storage
File 2023-10 was already in local storage
File 2023-11 was already in local storage
File 2023-12 was already in local storage
File 2024-01 was already in local storage
File 2024-02 was already in local storage
File 2024-03 was already in local storage
File 2024-04 was already in local storage
File 2024-05 was already in local storage
File 2024-06 was already in local storage
File 2024-07 was already in local storage
File 2024-08 was already in local storage
File 2024-09 was already in local storage
File 2024-10 was already in local storage
Downloading file 2024-11
2024-11 file is not available
Downloading file 2024-12
2024-12 file is not available

In [4]:
print(f'{len(rides)=:,}')

len(rides)=111,818,774

## Data is from 2022 - 2024 - I've reduced the data 'rides' to just include from 2023 - 2024 due to using free HopsWorks & I don't want to push it too much on free account just now

In [5]:
rides.tail(5)

            pickup_datetime  pickup_location_id
3833766 2024-10-31 23:49:01                 107
3833767 2024-10-31 23:35:15                 137
3833768 2024-10-31 23:30:43                 188
3833769 2024-10-31 23:00:00                 230
3833770 2024-10-31 23:18:00                 246

In [6]:
print(rides['pickup_datetime'].dtype)

datetime64[us]

In [ ]:
# # After kernel restart, load it back:
# import pandas as pd
# rides_2023_to_2024 = pd.read_pickle('rides_2023_to_2024.pkl')
# rides_2023_to_2024

            pickup_datetime  pickup_location_id         pickup_hour
3267829 2023-10-31 01:17:52                 138 2023-10-31 01:00:00
3268587 2023-10-31 00:01:27                 132 2023-10-31 00:00:00
3268732 2023-10-31 00:01:57                 140 2023-10-31 00:00:00
3268733 2023-10-31 00:00:40                 238 2023-10-31 00:00:00
3268734 2023-10-31 00:44:27                  50 2023-10-31 00:00:00
...                     ...                 ...                 ...
3815373 2024-10-30 23:56:36                 164 2024-10-30 23:00:00
3815374 2024-10-30 23:35:45                 230 2024-10-30 23:00:00
3815375 2024-10-30 23:08:59                 142 2024-10-30 23:00:00
3815538 2024-10-31 00:00:00                 158 2024-10-31 00:00:00
3815833 2024-10-31 00:00:00                 152 2024-10-31 00:00:00

[40543261 rows x 3 columns]

%6|1734802075.968|FAIL|rdkafka#producer-17| [thrd:ssl://51.161.80.189:9093/bootstrap]: ssl://51.161.80.189:9093/0: Disconnected (after 49974ms in state UP, 1 identical error(s) suppressed)

In [7]:
rides_2023_to_2024 = rides[(rides['pickup_datetime'] >= '2023-10-31') & (rides['pickup_datetime'] <= '2024-10-31')]
rides_2023_to_2024

            pickup_datetime  pickup_location_id
3267829 2023-10-31 01:17:52                 138
3268587 2023-10-31 00:01:27                 132
3268732 2023-10-31 00:01:57                 140
3268733 2023-10-31 00:00:40                 238
3268734 2023-10-31 00:44:27                  50
...                     ...                 ...
3815373 2024-10-30 23:56:36                 164
3815374 2024-10-30 23:35:45                 230
3815375 2024-10-30 23:08:59                 142
3815538 2024-10-31 00:00:00                 158
3815833 2024-10-31 00:00:00                 152

[40543261 rows x 2 columns]

In [8]:
print(f'{len(rides_2023_to_2024)=:,}')

len(rides_2023_to_2024)=40,543,261

In [9]:
# 1. Check the earliest and latest dates
print("Earliest date:", rides_2023_to_2024['pickup_datetime'].min())
print("Latest date:", rides_2023_to_2024['pickup_datetime'].max())

# 2. Check how many rows you have
print("Number of rows:", len(rides_2023_to_2024))

# 3. Look at the first few and last few rows
print("\nFirst few rows:")
print(rides_2023_to_2024.head())
print("\nLast few rows:")
print(rides_2023_to_2024.tail())

# 4. Get a quick summary of the date range
print("\nDate range summary:")
print(rides_2023_to_2024['pickup_datetime'].describe())

Earliest date: 2023-10-31 00:00:03
Latest date: 2024-10-31 00:00:00
Number of rows: 40543261

First few rows:
            pickup_datetime  pickup_location_id
3267829 2023-10-31 01:17:52                 138
3268587 2023-10-31 00:01:27                 132
3268732 2023-10-31 00:01:57                 140
3268733 2023-10-31 00:00:40                 238
3268734 2023-10-31 00:44:27                  50

Last few rows:
            pickup_datetime  pickup_location_id
3815373 2024-10-30 23:56:36                 164
3815374 2024-10-30 23:35:45                 230
3815375 2024-10-30 23:08:59                 142
3815538 2024-10-31 00:00:00                 158
3815833 2024-10-31 00:00:00                 152

Date range summary:
count                      40543261
mean     2024-05-03 14:27:30.541458
min             2023-10-31 00:00:03
25%             2024-02-04 10:15:31
50%             2024-05-04 00:12:18
75%             2024-08-02 17:23:39
max             2024-10-31 00:00:00
Name: pickup_datetime, dtype: object

In [11]:
from src.data import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides_2023_to_2024)

/Users/keshansharp/poetry_taxi_demand_predictor/src/data.py:141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rides['pickup_hour'] = rides['pickup_datetime'].dt.floor('h')
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 263/263 [00:01<00:00, 171.90it/s]

In [12]:
# string to datetime
ts_data['pickup_hour'] = pd.to_datetime(ts_data['pickup_hour'], utc=True)

# add column with Unix epoch milliseconds
ts_data['pickup_ts'] = ts_data['pickup_hour'].astype(int) // 10**6

In [13]:
import hopsworks

In [14]:
# hopsworks.logout()

# # Clear any existing connection
# project = None
# feature_store = None
# feature_group = None

In [15]:
project = hopsworks.login(
    project=HOPSWORKS_PROJECT_NAME,
    api_key_value=HOPSWORKS_API_KEY
)

2024-12-21 17:30:11,392 INFO: Initializing external client
2024-12-21 17:30:11,393 INFO: Base URL: https://c.app.hopsworks.ai:443
2024-12-21 17:30:12,554 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1192104

In [16]:
feature_store = project.get_feature_store()

In [17]:
FEATURE_GROUP_NAME = 'time_series_hourly_feature_group'
FEATURE_GROUP_VERSION = 1

In [18]:
feature_group = feature_store.get_or_create_feature_group(
    name=FEATURE_GROUP_NAME,
    version=FEATURE_GROUP_VERSION,
    description="Time-series data at hourly frequency",
    primary_key = ['pickup_location_id', 'pickup_ts'],
    event_time='pickup_ts',
)#

In [19]:
print(f"Total rows in ts_data: {len(ts_data)}")

Total rows in ts_data: 2310455

In [20]:
feature_group.insert(ts_data, write_options={"wait_for_job": False})

Uploading Dataframe: 100.00% |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| Rows 2310455/2310455 | Elapsed Time: 06:35 | Remaining Time: 00:00

Launching job: time_series_hourly_feature_group_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai:443/p/1192104/jobs/named/time_series_hourly_feature_group_1_offline_fg_materialization/executions

(Job('time_series_hourly_feature_group_1_offline_fg_materialization', 'SPARK'),
 None)